* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
  }

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid slategray;
    transition: .5s ease;
}
.services-box .icon{
font-size: 7rem;
color: aqua;
}
.services-box h5{
    font-size: 2.6rem;
    color: white;

}.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: white;
}
.services-container .services-box{
    border-color: var(--main-color);
    transform: scale(1.02);
} 
.box h2{
    color: white;

}
@media(max-width: 768px){
    header{
        padding: 2rem 3%;
    }
    .services{
        padding-bottom: 7rem;
    }
    
    .section{
        padding: 10rem 3% 2rem;
    }

}
@media(max-width:768px){
    .services h2{
        margin-bottom: 3rem;
    }
    .box h2{
        margin-top: 1rem;
       
    }.services{
        padding: 0;
        margin: 0;
    }
}
